input[type = "text"] {
	border: 1px solid black;
	border-radius: 3px;
}

input[type = "password"] {
	border: 1px solid black;
	border-radius: 3px;
}


input[type=button] {
	background-color: #99d3df;
	border: none;
	color: black;
	padding: 16px 32px;
	text-decoration: none;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 16px;
	float: right;
}

textarea {
	border: 1px solid black;
	border-radius: 3px;
}

.heading {
	font-size: 16px;
}

#title {
	position: relative;
	left: 30px;
	font-size: 30px;
	margin: 40px;
	margin-bottom: 0px;
}

#form {
	margin: 40px;
	padding: 20px;
	margin-top: 0px;
	width: 900px;
}

.entry {
	margin: 15px;
	height: 60px;
}

.interests_entry {
	margin: 15px;
	height: 150px;
}

#email_username {
	position: relative;
	height: 30px;
}

#password {
	height: 30px;
	position: relative;
}

#passwordConfirm {
	height: 30px;
	position: relative;
}

.zipcodeInstructions {
	margin: 15px;
	font-size: 17px;
}

#zipcode1 {
	height: 30px;
	position: relative;
}

#zipcode2 {
	height: 30px;
	position: relative;
}

#zipcode3 {
	height: 30px;
	position: relative;
}

#interests {
	position: relative;
	margin: 15px;
}

#message {
	position: relative;
	margin: 15px;
}

#messageBox {
	width: 600px;
	height: 200px;
	position: relative;
}


#submit {
	margin: 15px;
	position: relative;
	left: 550px;
	top: 210px;
}

#accountCreation {
	text-align: center;
	font-size: 150%;
	position: relative;
	top: 200px;
	left: 30px;
	text-decoration: none;
}

.submit-reply-button {
	border: 2px solid #99d3df;
	border-radius: 40px;
	width: 60px;
	height: 40px;
	background-color: #99d3df;
	font-weight: bolder;
	position: relative;
	float: right;
	bottom: -5px;
	margin-left: 20px;
	margin-right: 10px;
}

.cancel-reply-button {
	border: 2px solid #f5f5f5;
	border-radius: 40px;
	width: 60px;
	height: 40px;
	background-color: #f5f5f5;
	font-weight: bolder;
	position: relative;
	float: right;
	bottom: -5px;
}
