


#profileTitle {
  font-size: 350%;
  margin: 2%;
  margin-left: 4%;
  margin-bottom: 2.5%;
}

#inbox {
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  border-radius: 2px;
  width: 17.5%;
  height: 9%;
  padding: 1%;
  margin-top: 20%;
  margin-left: -17.5%;
  background-color: #CCE3EF;
  padding-bottom: 1%;
}

#profileEdit {
  border-radius: 3px;
  margin-left: -17.5%;
  margin-top: -2%;
  margin-bottom: 1%;
  background-color: #CCE3EF;
}


#profilePic {
  height: 37%;
  width: 17%;
  float: left;
  border: solid black 3px;
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 3%;
}

#profilePanel {
  margin-top: 2%;
  position: sticky;
  width: 18%;
  left: 4%;
  background-color: #CCE3EF;
}

#biography {
  border-top: dashed #405763 1px;
  border-bottom: dashed #405763 1px;
  padding-left: 3px;
  font-size: 80%;
  margin-top: 10%;
  margin-left: 0%;
}
#profileName {
  display: block;
  font-size: 120%;
  font-weight: bold;
}
#profileInfo {
  font-size: 155%;
  padding-top: 3%;
  margin-left: 2%;
  word-wrap: break-word;
}


#contactInfo {
  font-size: 80%;
  margin-top: 10%;
  word-wrap: break-word;
  height: 30%;
  width: 140%;
  list-style-type: none;
  font-weight: bold;
  padding-bottom: -15%;
}
#contactList {
  margin-top: 0%;
}
.contactOption{
  font-size: 80%;
  margin-top: 3%;
  width: 300%;
  word-wrap: break-word;
  font-weight: normal;
  list-style: none;
  margin-left: -4%;
}

#profileInterests {
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 90%;

}

#activityTitle {
  font-size: 200%;
  font-weight: bold;
  margin-left: 65%;
  margin-bottom: 1%;
}

#profileActivity{
  float: right;
  margin-left: 20%;
  margin-right: -10%;
  margin-top: -69%;
}

.aPost {
  margin-right: 0px;

}
