/*
	Global Classes
					*/
body {
  background-repeat: no-repeat;
  font-family: Trebuchet, sans-serif;
  background-color: #CDF0f2;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.head-bar {
  width: 100%;
  height: 60px;
  background-color: #086788;
  position: relative;
  top: -10px;
  margin: 0px;
  padding: 0px;
}

.head-bar-button{
  background-color: #086788;
  color: #CDF0F2;
  display: inline-block;
  height: 30px;
  width: 200px;
  text-align: center;
  position: relative;
  top: 12px;
}

#websiteName {
  position: relative;
  left: 30px;
}

#myNews {
  position: relative;
  left: 20px;
}

#communityForum {
  position: relative;
  left: 40px;
}

#talkToYourCity {
  position: relative;
  left: 60px;
}

#saved {
  position: relative;
  left: 60px;
}

#search {
  position: relative;
  width: 50px;
  height: 30px;
  left: 60px;
  top: 20px;
}

#profile {
  position: relative;
  width: 50px;
  height: 30px;
  left: 90px;
  top: 20px;
}


/* HomePage */

#homepageCityInfo {   /*this is the green bar across the top, holding cityname, population, and funFacts */
  background-color: #9fed6f;
  width: 100%;
  height: 135px;
  position: relative;
  top: -10px;
  margin: 0px; 
}

#homepageCityName {
  font-size: 500%;
  position: relative;
  left: 10px;
  top: 15px;
}
#population {
  position: relative;
  top: -40px;
  left: 660px;
  font-size: 150%;
}
.homepageFunFacts {
  width: 400px;
  position: relative;
  top: -95px;
  left: 850px;
}

#homepageTitle {
  font-size: 300%;
  text-align: center;
  position: relative;
  top: 20px;
}

#homepageSaveForLater {
  width: 100px;
  height: 100px;
  position: relative;
  top: 100px;
  left: 65px;
  text-align: center;
}
.newsOrDiscussion {   /*this is the side filter on the boxes indicating if its news or discussion */
  height: 170px;
  width: 40px;
  border: 3px solid black;
  position: relative;
  left: 240px;
  top: 60px;

  background-color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.themes {  /*this is the side filter on the box indicating its subject matter--environment, schools, etc */
  height: 170px;
  width: 40px;
  border: 3px solid black;
  position: relative;
  left: 285px;
  top: -116px;
  border-left: none;
  border-right: none;

  background-color: white;
}

.stories {
  height: 160px;
  width: 850px;
  border: 3px solid black;
  display: inline-block;
  position: relative;
  top: -300px;
  left: 325px;
  margin-top: 8px;
  padding: 5px;

  background-color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.homepageBlockOne {
  position: relative;
  top: -80px;
}

.homepageBlockTwo{
  position: relative;
  top: -380px;
}

.homepageBlockThree {
  position: relative;
  top: -680px;
}

.headline{
  font-size: 150%;
  font-weight: bold;
}

.storyText {
  position: relative;
  top: 20px;
  text-align: left;
}

.saveBoxes {
  height: 20px;
  width: 20px;
  border: 3px solid black;
  position: relative;
  top: 150px;
  left: 100px;

  border-radius: 4px;
}

/* Filters Attempt */
#Schools-filter-box
#Environment-filter-box
#Politics-filter-box
#Arts-filter-box
#Sports-filter-box

#clear-filter-button {
	position: relative;
	background-color: #9fed6f;
	border: none;
	border-radius: 4px;
	color: black;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	margin-left: 20px;
}

/* Discussion forum specific page and reply page*/
.original-post {
	position: relative;
	width: 100%;
	min-height: 50px;
	overflow: hidden;
	border: 5px solid rgb(132, 132, 132);
	padding: 40px;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 0px;
	background-color: white;
	border-radius: 4px;
}

.reply-post {
	position: relative;
	width: 94%;
	min-height: 0px;
	overflow: hidden;
	border: 5px solid rgb(132, 132, 132);
	border-top: 0px;
	padding: 40px;
	margin: 0px 40px;
	left: 70px;
	background-color: white;
	border-radius: 4px;
}

.post-heading {
	font-size: 30px;
	margin: 10px;
}

.post-body {
	font-size: 18px;
	margin: 10px;
	min-height: 0px;
	overflow: hidden;
}

.reply-button {
	border: 2px solid #9fed6f; 
	border-radius: 40px;
	width: 60px;
	height: 40px;
	background-color: #9fed6f;
	font-weight: bolder;
	position: relative;
	float: right;
	bottom: -10px;
}

.new-post {
	padding: 40px;
	margin: 40px;
}

.page-heading {
	font-size: 30px;
	margin: 80px;
}

/* Discussion forum reply and new post forms */
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
}

input[type=button] {
	background-color: #9fed6f;
	border: none;
	color: black;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 16px;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #ffffff;
	resize: none;
}


/* Community Forum Homepage elements */
.content{
	height: 1000px;
	width: 1250px;
	padding: 20px;
	margin: auto;
}
.left-panel{
  height: 1000px;
  width:260px;
  top:25px;
  position: relative;
  margin-left: 20px;
	float: left;
}

.filter-box{
  height: 400px;
  width: 200px;
  position: relative;
  margin: auto;
  top:30px;
  padding-top: 30px;
  border-style: solid;
  border-color: gray;
  border-width: medium;
  box-shadow: 5px 1px;
  text-align: left;
  background-color: white;
  border-radius: 4px;
}

.box-head{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 120%
}

.filter-option{
  height: 20px;
  width: 150;
  position: relative;
  text-align: left;
	font-size: 110%;
	margin: auto;
  margin-top: 10px;

  border-radius: 4px;
}
.Schools-filter{
	border-style: solid;
	border-width:thick;
	border-color: #6E06AA;
}

.Environment-filter{
	border-style: solid;
	border-width:thick;
	border-color: #AAE800;
}

.Politics-filter{
	border-style: solid;
	border-width:thick;
	border-color: #1F40C4;
}

.Arts-filter{
	border-style: solid;
	border-width:thick;
	border-color: #F45D11;
}

.Sports-filter{
	border-style: solid;
	border-width:thick;
	border-color: #E8CE09;
}
.right-panel{
  height: 1000px;
  width: 800px;
  position: relative;
  top:25px;
  padding-right: 120px;
  padding-left: 30px;
	float: right;
}
.right-top-panel{
  height: 80px;
  width: 800px;
  top:30px;
	padding-left: 80px;
  position: relative;
  font-size: 250%;
  font-weight: bold;
	margin: auto;
}

.Make-button{
background-color: #9fed6f;
border: none;
border-radius: 4px;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
margin-left: 50px;
}

.right-bottom-panel{
  height: 700px;
  width: 800px;
  margin: auto;
  padding-left: 50px;
  position: relative;
	top: 10px;
}

.posts{
  height: 800px;
  width: 800px;
  position: relative;
}
.post-box{
  height: 200px;
  width: 750px;
  position: relative;
  border-style: solid;
  border-color: gray;
  border-width: medium;
  text-align: left;
  margin: 10px;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  float: left;
}

.post-category-box{
  height: 190;
  width: 40;
  position: relative;
  border-right-style: solid;
  border-right-color: gray;
  border-width: medium;
  text-align: left;
  float: left;
}

.post-text-box{
  height: 165;
  width: 652;
  position: relative;
  padding: 20px;
  text-align: left;
  float: right;
}

/* New stuff (2/25) begins here */
.new-post {
  width: 652px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-top: 10px;
  margin: 40px;
  background-color: white;
  margin-left:10px;
  border-style: solid;
  border-color: gray;
  border-width: medium;
  border-radius: 4px;
  float: left;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
}

input[type=button] {
  background-color: #9fed6f;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  float:right;
}

input[type=radio] {
  margin-left:20px;
}

.Other-filter{
  border-style: solid;
  border-width:thick;
  border-color: #BDBDBD;
}

#New-post-b {
  display: none;
}

#that-box-thing {
  display: none;
}

#c-np {
  background-color: #f5f5f5;
}
/* New stuff (2/25) ends */


/* this is wehre the talk to your officials page starts */

#talkTitle {
  font-size: 30px;
  margin: 50px;
  margin-bottom: 25px;

}

#talkForm {
  margin: 40px;
  margin-top: 0px;
  width: 900px;
}

.talkLine{
  margin: 15px;
}
#talkFirstName{
  position: relative;
  left: 48px;
}

#talkLastName {
  position: relative;
  left: 49px;
}

#talkStreetAddress{
  position: relative;
  left: 21px;
}

#talkTopic {
  position: relative;
  left: 90px;
  width: 166px;
  z-index: 1;
}

#talkSubject {
  position: relative;
  left: 74px;
}

#talkMessage{
  position: relative;
  top: -80px;
}

#talkMessageBox{
  width: 600px;
  height: 200px;
  position: relative;
  top: 90px;
  left: 63px
}

/* After Talk To Your City Form Has Been Submitted */
#talkSubmit{
  position: relative;
  left: 675px;
}

#talkThankYou {
  text-align: center;
  font-size: 150%;
  position: relative;
  top: 200px;
  left: 30px;
  text-decoration: none;

}
