/*This is on the headbar */

#cityButton {
  float: right;
}


#profileTitle {
  font-size: 350%;
  margin: 2%;
  margin-left: 4%;
  margin-bottom: 2.5%;
}
#inbox {
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  border-radius: 2px;
  width: 17.5%;
  height: 7%;
  padding: .5%;
  margin-top: 21%;
  margin-left: -17.5%;
  background-color: #CCE3EF;
  padding-bottom: 1%;
  font-size: 150%;
}

#profilePic {
  height: 37%;
  width: 17%;
  float: left;
  border: solid black 3px;
  margin-left: 4%;
  margin-top: 1%;
}
img{
  height: 100%;
  width: 100%;
  float: left;
  margin-bottom: 1%;

}

#profilePanel {
  margin-top: 1%;
  position: sticky;
  width: 17.5%;
  left: 4%;
  background-color: #CCE3EF;
}

#biography {
  border-top: dashed #405763 1px;
  border-bottom: dashed #405763 1px;
  padding-left: 3px;
  font-size: 70%;
  margin-top: 10%;
}
#profileName {
  display: block;
  font-size: 120%;
  font-weight: bold;
}
#profileInfo {
  font-size: 155%;
  padding-top: 3%;
  margin-left: 2%;

}

#profileInterests {
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 80%;

}

#profileList {
  margin: 50px;
  margin-top: 0px;
  margin-left: 10%;
  padding-left: 0px;
  height: 30%;
  width: 15%;
  list-style-type: none;
  font-weight: normal;
}

#activityTitle {
  font-size: 200%;
  font-weight: bold;
  margin-left: 62%;
  margin-bottom: 1%;
  margin-top: -5%;
}

#profileEdit {
  border-radius: 3px;
  margin-left: -17.5%;
  margin-top: -2%;
  background-color: #CCE3EF;
}
#profileActivity{
  float: right;
  margin-left: 20%;
  margin-right: -10%;
  margin-top: -67.5%;
}

.aPost {
  margin-right: 0px;
}


/* This is the chat functionality */
#chatDropDown{
  width: 96%; /*width: 10.5 */
  height: 35%;  /* 26 */
  z-index: 5;
  position: absolute; /*position relative */
  top: -14px; /*top -89*/
  left: 0%;  /* 20 */
  background-color: #F2F2F2;
  border: 5px solid #405763; /*#cdcdcd 3px*/
  border-radius: 5px;
  display: none;





}
#dropdownTitle{
  position: relative;
  top: 0px;
  font-weight: bold;
  font-size: 150%;
  padding-left: 5px;
  padding-bottom: 0px;
}

/*#triangle {
  position: relative;
  top: -24px;
  left: 50px;
	width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 20px solid #405763;
  margin: 0px;
}*/

#chatOption1{
  font-weight: none;
  /*border-top: 3px solid #1D3440;*/
  padding: 10px;
  background-color: #cdcdcd;
  position: relative;
  top: -15px;
  width: 100%;
  margin-top: 10%;
  text-align: left;
  font-size: 110%;
}

#chatOption2{
  font-weight: none;
  /*border-top: 3px solid #1D3440;*/
  padding: 10px;
  background-color: #f2f2f2;
  position: relative;
  top: -15px;
}
#chatOption3{
  font-weight: none;
  /*border-top: 3px solid #1D3440;*/
  padding: 10px;
  background-color: #cdcdcd;
  position: relative;
  top: -12px;
  width: 100%;
  text-align: left;
  font-size: 110%;
}


#chatScreen{
    height: 340px;
    width: 18%;
    display: none; /*onclick it becomes visible.*/
    z-index: 2;
    position: fixed;
    bottom: 0%;
    right: 3.5%;
    border: 5px solid #405763;
    border-bottom: none;
    border-radius: 5px;
    background-color: white;

}

#chatTitle {
    font-weight: bold;
    margin-left: 30%;
}

#X {
  position: relative;
  left: 90%;
  top: -22px;
}

input[type = text]{
  height: 12%;
  width: 70%;
  font-size: 80%;
  display: inline-block;
  border: 2px solid #CCE3EF;
  background-color: white;
  border-radius: 5px;
  float: right;
  margin-right: 2px;
}
.message{
  height: 12%;
  width: 70%;
  font-size: 80%;
  display: inline-block;
}

.chatright {
    border: 2px solid #dedede;
    background-color: #cdcdcd;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 5px;
    float: right;
}

/* Darker chat container */
.chatleft {
    border-color: #ccc;
    background-color: #ddd;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.chat3{
  padding-top: 0%;
  height:18%;
}

#chat5{
  display: none;
  border: 2px solid #dedede;
  background-color: #cdcdcd;
  height: 10%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-right: 5px;
  padding-left: 5px;
  float: right;
}

#sendMessage{
  background-color: #CCE3EF;
  position: fixed;
  bottom: 5px;
  left: 1165px;
  border-radius: 2px;
}

p{
  margin: 0px;
  margin-top: 3px;
}


/* Style time text */
.time-right {
    float: right;
    color: #aaa;
    margin: 0px;
    margin-top: 9px;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
    margin: 0px;
    margin-top: 9px;
}
