
/*This is on the headbar */

#cityButton {
  float: right;
}


#profileTitle {
  font-size: 350%;
  margin: 2%;
  margin-left: 4%;
}
#inbox {
  border: solid black 1px;
  width: 5%;
  height: 3%;
  margin-top: 18%;
  margin-left: -17%;
}

#profileEdit {
  margin-left: 6%;
}

#twoButtons {
  display: inline;
}

#profilePic {
  height: 32%;
  width: 17%;
  float: left;
  border: solid black 3px;
  margin-left: 4%;
  margin-top: -1%;
}

#profilePanel {
  margin-top: 2%;
  position: sticky;
  width: 18%;
  left: 4%;
  background-color: #CCE3EF;
}

#biography {
  border-top: dashed #405763 1px;
  border-bottom: dashed #405763 1px;
  margin-left: -12%;
  padding-left: 3px;
}
#profileName {
  font-size: 110%;
  font-weight: bold;
}
#profileInfo {
  font-size: 155%;
  padding-top: 10%;
  margin-left: 12%;
}

#profileInterests {
  margin-top: 25px;
  margin-bottom: 10px;
}

#profileList {
  margin: 50px;
  margin-top: 0px;
  margin-left: 10%;
  padding-left: 0px;
  height: 30%;
  width: 15%;
  list-style-type: none;
}

#activityTitle {
  font-size: 200%;
  font-weight: bold;
  margin-left: 62%;
  margin-bottom: 1%
}

#profileActivity{
  float: right;
  margin-left: 20%;
  margin-right: -10%;
  margin-top: -71.5%;
}

.aPost {
  margin-right: 0px;

}
