
/*This is on the headbar */

#cityButton {
  float: right;
}


#profileTitle {
  font-size: 350%;
  margin: 2%;
  margin-left: 4%;
  margin-bottom: 2.5%;
}
#inbox {
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  border-radius: 2px;
  width: 17.5%;
  height: 9%;
  padding: 1%;
  margin-top: 21%;
  margin-left: -17.5%;
  background-color: #CCE3EF;
  padding-bottom: 1%;
}

#profilePic {
  height: 37%;
  width: 17%;
  float: left;
  border: solid black 3px;
  margin-left: 4%;
  margin-top: 1%;
}
img{
  height: 100%;
  width: 100%;
  float: left;
  margin-bottom: 1%;

}

#profilePanel {
  margin-top: 2%;
  position: sticky;
  width: 18%;
  left: 4%;
  background-color: #CCE3EF;
}

#biography {
  border-top: dashed #405763 1px;
  border-bottom: dashed #405763 1px;
  padding-left: 3px;
  font-size: 80%;
  margin-top: 10%;
}
#profileName {
  display: block;
  font-size: 120%;
  font-weight: bold;
}
#profileInfo {
  font-size: 155%;
  padding-top: 3%;
  margin-left: 2%;

}

#profileInterests {
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 90%;

}

#profileList {
  margin: 50px;
  margin-top: 0px;
  margin-left: 10%;
  padding-left: 0px;
  height: 30%;
  width: 15%;
  list-style-type: none;
  font-weight: normal;
}

#activityTitle {
  font-size: 200%;
  font-weight: bold;
  margin-left: 62%;
  margin-bottom: 1%;
  margin-top: -5%;
}

#profileEdit {
  border-radius: 3px;
  margin-left: -17.5%;
  margin-top: -2%;
  background-color: #CCE3EF;
}
#profileActivity{
  float: right;
  margin-left: 20%;
  margin-right: -10%;
  margin-top: -69.5%;
}

.aPost {
  margin-right: 0px;

}
