
/* Discussion forum specific page and reply page*/
.original-post {
	position: relative;
	width: 900px;
	min-height: 50px;
	overflow: hidden;
	border: 5px solid rgb(132, 132, 132);
	padding: 40px;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 0px;
	background-color: white;
	border-radius: 4px;
}

.reply-post {
	position: relative;
	width: 850px;
	overflow: hidden;
	border: 5px solid rgb(132, 132, 132);
	border-top: 0px;
	padding: 40px;
	margin: 0px 40px;
	left: 70px;
	background-color: white;
	border-radius: 4px;
	float: left;
}

.reply-reply-post {
	position: relative;
	width: 820px;
	overflow: hidden;
	border: 5px solid rgb(132, 132, 132);
	border-top: 0px;
	padding: 40px;
	margin: 0px 40px;
	left: 140px;
	background-color: white;
	border-radius: 4px;
	float: left;
}

.post-heading {
	font-size: 30px;
	margin: 10px;
}

.post-body {
	font-size: 18px;
	margin: 10px;
	min-height: 0px;
	overflow: hidden;
}

.reply-button {
	border: 2px solid #9fed6f; 
	border-radius: 40px;
	width: 60px;
	height: 40px;
	background-color: #9fed6f;
	font-weight: bolder;
	position: relative;
	float: right;
	bottom: -10px;
}

.new-post {
	padding: 40px;
	margin: 40px;
}

.page-heading {
	font-size: 30px;
	margin: 80px;
}

/* Discussion forum reply and new post forms */
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
}

input[type=button] {
	background-color: #99d3df;
	border: none;
	color: black;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 16px;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #ffffff;
	resize: none;
}

/* Setup for in-page reply feature: */
#NUProperty-r-main-0 {display: none;}
#NUProperty-r-main-1 {display: none;}
#NUProperty-r-main-2 {display: none;}
#NUProperty-r-main-3 {display: none;}
#NUProperty-nr-0 {display: none;}
#NUProperty-nr-1 {display: none;}
#NUProperty-nr-2 {display: none;}
#NUProperty-nr-3 {display: none;}

.submit-reply-button {
	border: 2px solid #99d3df; 
	border-radius: 40px;
	width: 60px;
	height: 40px;
	background-color: #99d3df;
	font-weight: bolder;
	position: relative;
	float: right;
	bottom: -5px;
	margin-left: 20px;
	margin-right: 10px;
}

.cancel-reply-button {
	border: 2px solid #f5f5f5; 
	border-radius: 40px;
	width: 60px;
	height: 40px;
	background-color: #f5f5f5;
	font-weight: bolder;
	position: relative;
	float: right;
	bottom: -5px;
}
