
/* Discussion forum specific page and reply page*/

#ogPost {
	position: relative;
	width: 90%;
	right: -5%;
	padding-bottom: 2%;
	border-radius: 2px;
	background-color: #F9F9F9;
	min-height: 0;
	overflow: hidden;
	*zoom: 1;
}

.ogPostSource {
  margin: .25%;
  font-size: 75%;
  padding-left: 1%;
  color: #869DA9;
  overflow: hidden;
}

.ogPostBody {
  margin-right: 2%;
  font-size: 100%;
  padding-left: 6.5%;
}

.postReply {
  position: relative;
  padding: 1%;
  margin-top: 1%;
  margin-left: 90%;
  margin-right: 2%;
  text-align: center;
  font-size: 80%;
  display: block;
  background-color: #DCF3FF;
  border-radius: 4px;
  transition: background-color .2s ease;
}

.postReply:hover {
  background-color: #CCE3EF;
}

.reply {
	position: relative;
	width: 88%;
	left: 6%;
	border-radius: 2px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-top: 1%;
	background-color: #F2F2F2;
}

.replys {
	background-color: #F9F9F9;
}

.replySource {
	height: 3%;
	width: 100%;
	color: #869DA9;
	font-size: 75%;
	padding-top: 0.5%;
}
