* {
	box-sizing: border-box
}

#signIn {
	background-color: #1D3440;
}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 20px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #F2F2F2;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
	background-color: #E9E9E9;
	outline: none;
}

/* Set a style for all buttons */
button {
	background-color: #CCE3EF;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
	background-color: #A9C0CC;
}

/* Extra styles for the forgot password button */
.forgotpwbtn {
	padding: 14px 20px;
	background-color: #ACACAC;
}

	.forgotpwbtn:hover {
		background-color: #898989;
		opacity: 1;
	}

/* Float cancel and signup buttons and add an equal width */
.forgotpwbtn, #signupbtn {
	float: left;
	width: 33%;
	font-weight: bolder;
}

/* Add padding to container elements */
.signInContainer {
	padding: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}


/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
	.forgotpwbtn, #signupbtn {
		width: 100%;
	}
}

/*Formatting for "Forgot Password?" prompt*/
.forgotPassword {
	font-size: 12px;
	color: #405763;
	margin-bottom: 20px;
}
