#talkTitle {
  font-size: 30px;
  margin: 50px;
  margin-bottom: 25px;

}

#talkForm {
  margin: 40px;
  margin-top: 0px;
  width: 900px;
}

.talkLine{
  margin: 0px;
  height: 30px; 
}
#talkFirstName{
  position: relative;
  left: 48px;
  margin: 15px;
  height: 30px; 
}

#talkLastName {
  height: 30px; 
  position: relative;
  left: 49px;
  margin: 15px; 
}

#talkStreetAddress{
  height: 30px; 
  position: relative;
  left: 21px;
  margin: 15px; 
}

#talkTopic {
  height: 30px; 
  position: relative;
  left: 90px;
  width: 166px;
  z-index: 1;
  margin: 15px; 
}

#talkSubject {
  height: 30px; 
  position: relative;
  left: 74px;
  margin: 15px; 
}

#talkMessage{
  position: relative;
  top: -150px;
  margin: 15px; 
}

#talkMessageBox{
  width: 600px;
  height: 200px;
  position: relative;
  top: 90px;
  left: 78px
}


#talkSubmit{
  margin: 15px; 
  position: relative;
  left: 675px;
}

#talkThankYou {
  text-align: center;
  font-size: 150%;
  position: relative;
  top: 200px;
  left: 30px;
  text-decoration: none;

}
